	<nav class="desktop">
		<ul>
			<li><a class="previous-page" href="{{ previous-page }}"><</a></li>
			<li><a href="index.html">home</a></li>
			<li><a href="poesia/index.html">poesie</a></li>
			<li><a href="pagina/index.html">diario</a></li>
			<li><a href="pensiero/index.html">pensieri</a></li>
			<li><a class="next-page" href="{{ next-page }}">></a></li>
		</ul>
	</nav>
	<nav class="mobile">
		<ul>
			<li><a class="previous-page" href="{{ previous-page }}"><</a></li>
			<li><a href="index.html">home</a></li>
			<li><a class="{{ next-page }}" href="{{ next-page }}">></a></li>
		</ul>
	</nav>
