<!DOCTYPE html>
<html lang="it">
use head
<link rel="stylesheet" type="text/css" href="assets/css/portfolio.css">

<body>
    use navbar

    <main class="animate__animated animate__slideInUp">
        <h1 id="main-title"> {{ title }} </h1>
        <div class="content">
            {{ content }}
        </div>

        <hr>
        <ul class="portfolio-footer">
            <li><a href="{{ previous-page }}"> &larr; PREV <br> {{ previous-page-title }}
                </a>
            </li>
            <li><a style="text-align: left;" href="{{ next-page }}"> NEXT &rarr; <br> {{ next-page-title }} </a>
            </li>
        </ul>
    </main>
    use footer
</body>

</html>
