<!DOCTYPE html>
<html lang="it">

<head>
    use head
</head>

<body>
    use navbar
    <main>
        <div class="short-content content">
            <h1> {{ title }} </h1>
            {{ content }}
            <hr>
            <ul class="bottom-page">
                <li><a href="{{ previous-page }}"><span>&larr; PREV</span><br> {{ previous-page-title }}
                    </a>
                </li>
                <li><a href="{{ next-page }}"> NEXT &rarr; <br> {{ next-page-title }} </a>
                </li>
            </ul>
        </div>
    </main>
    use footer
</body>

</html>
