header a {
    margin-left: 1.5rem;
    display: flex;
    font-size: 150%;
    color: var(--oneColor);
    transition: var(--transition);
    border: 0.1rem solid var(--oneColor);
    padding: 0.5rem;
}

header a:hover {
    color: var(--oneColorHighlight);
    border: 0.1rem solid var(--oneColorHighlight);
    border-radius: var(--round-radius);
}

#navbar {
    display: flex;
    align-items: center;
    width: 100%;
}

#navbar-header {
    padding: 0rem var(--textSize);
}

#navbar-header a {
    font-weight: bold;
    text-decoration: none;
}

#navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
