@media (prefers-color-scheme: light) {
    :root {
        --backgroundColor: #D5CCCD;
        --backgroundColorHighlight: #EDE3E4;
        --textColor: #333;
        --oneColor: #691B25;
        --twoColor: #4c722f;
        --oneColorHighlight: #cc4d33;
        --twoColorHighlight: #608F3B;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --backgroundColor: #24283b;
        --backgroundColorHighlight: #2E334B;
        --textColor: #a9b1d6;
        --oneColor: #ff862a;
        --twoColor: #bb9af7;
        --oneColorHighlight: #cc6b21;
        --twoColorHighlight: #957bc5;
    }
}

/* Light Theme */
[data-theme="light"] {
        --backgroundColor: #D5CCCD;
        --backgroundColorHighlight: #EDE3E4;
        --textColor: #333;
        --oneColor: #691B25;
        --twoColor: #4c722f;
        --oneColorHighlight: #cc4d33;
        --twoColorHighlight: #608F3B;
}

/* Dark Theme */
[data-theme="dark"] {
        --backgroundColor: #24283b;
        --backgroundColorHighlight: #2E334B;
        --textColor: #a9b1d6;
        --oneColor: #ff862a;
        --twoColor: #bb9af7;
        --oneColorHighlight: #cc6b21;
        --twoColorHighlight: #957bc5;
}

:root {
    --round-radius: 1rem;
    --border: solid var(--oneColor);
    --shadow: 0 0 0.4rem 0.01rem var(--oneColor);
    --transition: all 0.3s;

}

/* --------- MOBILE BREAKPOINT --------- */

@media screen and (max-width: 700px) {
    :root {
        --textSize: 1.2rem;
        --heading1Size: 2rem;
        --heading2Size: 1.4rem;
        --heading3Size: 1.3rem;
        --heading4Size: 1.2rem;
        --shortContent: 100%;
        --content: 100%;
    }
}

/* --------- TABLET BREAKPOINT --------- */

@media screen and (min-width: 701px) and (max-width: 900px) {
    :root {
        --textSize: 1.5rem;
        --heading1Size: 2.5rem;
        --heading2Size: 2rem;
        --heading3Size: 1.8rem;
        --heading4Size: 1.6rem;
        --shortContent: 55%;
        --content: 90%;
    }
}

/* --------- LAPTOP BREAKPOINT --------- */

@media screen and (min-width: 901px) and (max-width: 1200px) {
    :root {
        --textSize: 1.8rem;
        --heading1Size: 3rem;
        --heading2Size: 2.2rem;
        --heading3Size: 2rem;
        --heading4Size: 1.9rem;
        --shortContent: 42%;
        --content: 80%;
    }
}

/* --------- BIG SCREEN BREAKPOINT --------- */

@media screen and (min-width: 1201px) {
    :root {
        --textSize: 2rem;
        --heading1Size: 3.5rem;
        --heading2Size: 2.5rem;
        --heading3Size: 2.3rem;
        --heading4Size: 2.1rem;
        --shortContent: 36%;
        --content: 70%;
    }
}

/* Tipografia */

* {
    box-sizing: border-box;
    line-height: calc(1.3 * var(--textSize));
	font-family: 'Roboto', sans-serif;
}

*:not(html, body, footer, header, main) {
    max-width: 1200px;
}

h1 {
    line-height: calc(1.5 * var(--heading1Size));
    color: var(--oneColor);
    margin-bottom: 1rem;
    text-align: center;
    font-size: var(--heading1Size);
}

h2 {
    line-height: calc(1.5 * var(--heading2Size));
    color: var(--oneColor);
    margin-bottom: 1rem;
    font-size: var(--heading2Size);
    text-align: center;
}

h3 {
    line-height: calc(1.5 * var(--heading3Size));
    color: var(--oneColor);
    margin-bottom: 1rem;
    font-size: var(--heading3Size);
}

h4 {
    line-height: calc(1.5 * var(--heading4Size));
    color: var(--oneColor);
    margin-bottom: 1rem;
    font-size: var(--heading4Size);
}

a {
    color: var(--twoColor);
    border-radius: var(--round-radius);
    transition: var(--transition);
}

a:hover {
    color: var(--twoColorHighlight);
    border-radius: var(--round-radius);
}

a:visited {
    color: var(--oneColor);
}

a:visited:hover {
    color: var(--oneColorHighlight);
}

.hidden {
    display: none;
}

body {
    background-color: var(--backgroundColor);
    color: var(--textColor);
    min-height: 100vh;
    margin: 0;
}

footer {
    text-align: center;
}

footer > * {
    margin: 0 auto;
}

main {
    margin: 0 auto;
    padding: var(--textSize);
    max-width: var(--content);
    background-color: var(--backgroundColor);
    border-radius: var(--round-radius);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    border-bottom: 0.1rem solid var(--oneColor);

}

header > * {
    margin: 0 auto;
}

header a {
    font-weight: bold;
    text-decoration: none;
    color: var(--backgroundColor);
}

header .avatar {
    margin-left: 1rem;
}

.avatar svg {
  height: 50px;
  width: auto;
  max-width: 200px;
}

#download {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: auto 1rem auto 0;
    padding: 0.7rem;
    background-color: var(--oneColor);
    line-height: 1;
    height: 2.5rem;
}

#download:hover {
    background-color: var(--oneColorHighlight);
}

nav {
    margin: auto;
    flex-grow: 4;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
  flex-wrap: wrap;
}

nav a {
  position: relative;
  text-decoration: none;
  font-size: 1.1rem;
  padding: 0.5rem 0;
}

table {
    margin: 0 auto;
	border:thin solid var(--textColor);
	border-collapse:collapse;
	padding:0.4rem;
    width: 100%;
}

table th {
    padding: 0.8rem;
    background-color: var(--oneColor);
    color: var(--backgroundColor);
    font-weight: bold;
}

table td {
    padding: 0.8rem;
    border-bottom: 0.1rem solid var(--textColor);
    border-right: 0.1rem solid var(--textColor);
}

table th:last-of-type, table td:last-of-type {
    border-right: none;
}

table tr:last-of-type td {
    border-bottom: none;
}

table tr:nth-of-type(even) {
    background-color: rgba(var(--threeColor-rgb), 1);
}

table td a {
    padding: 0.3rem;
}

p:has(img) {
    text-align: center;
}

img, video {
    max-width: var(--content);
    height: auto;
    margin: 0.5rem auto;
    border-radius: var(--round-radius);
}

@media screen and (max-width: 600px) {
    table th, table td {
        padding: 0.5rem 0.1rem;
    }

    table th:first-of-type, table td:first-of-type {
        display: none;
    }
}

hr {
  border: none; /* Rimuovi il bordo predefinito */
  height: 0.1rem; /* Imposta l'altezza della linea */
  background-color: var(--oneColor); /* Colore di sfondo della linea */
  margin: 2rem 2rem; /* Spazio sopra e sotto la linea */
}

/* Home */

#home-main {
    margin: var(--textSize) auto 0 auto;
    padding: calc(0.5 * var(--heading4Size));
    background-color: var(--backgroundColor);
    border-radius: var(--round-radius);
    display: flex;
    flex-direction: column;
    background-color: var(--backgroundColorHighlight);
    width: calc(0.7 * var(--content));
}

#home-pic {
    margin: 2rem auto;
    height: calc(4 * var(--heading1Size));
    padding: var(--headingSize);
    border-radius: var(--round-radius);
}

#home-title {
    font-size: calc(0.7 * var(--textSize));
    line-height: calc(0.7 * var(--textSize));
    margin: 0rem;
}

#home-description {
    text-align: center;
    margin: 0;
}

#home-social {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 0.5rem;
    padding: 0;
    margin: 0;
}

#home-social li a {
    display: block;
    text-decoration: none;
    color: var(--oneColor);
    padding: 0.4rem;
    transition: var(--transition);
    font-weight: bold;
    text-align: center;
}

#home-social li a:hover {
    color: var(--oneColorHighlight);
}

#home-social a svg {
    width: calc(0.7 * var(--textSize));
    height: calc(0.7 * var(--textSize));
}

#home-links {
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 1.2rem;
    padding: 0;
    flex-wrap: wrap;
}

#home-links li {
    display: block;
    flex-grow: 1;
}

#home-links li a {
    display: flex;
    text-decoration: none;
    color: var(--oneColor);
    padding: 0.4rem;
    border: 0.1rem solid var(--oneColor);
    border-radius: var(--round-radius);
    transition: var(--transition);
    font-weight: bold;
    text-align: center;
    align-items: center;
    gap: 0.5em;
    justify-content: center;
}

#home-links li a:hover {
    color: var(--oneColorHighlight);
    border: 0.1rem solid var(--oneColorHighlight);
}

#home-links svg {
    width: calc(0.7 * var(--textSize));
    height: calc(0.7 * var(--textSize));
}

/* Collection page */

.link-list, .note-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    flex-direction: column;
    font-weight: bold;
    font-size: 150%;
    margin: 0rem 2rem 0 2rem;
}

.link-list li a, .note-list li a {
    text-decoration: none;
    padding: 0.5rem;
}

/* Checkbox */

li:has(input[type=checkbox]) {
    list-style: none;
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
    input[type=checkbox] {
        --active: var(--oneColor);
        --active-inner: var(--backgroundColor);
        --border: var(--oneColor);
        --background: var(--backgroundColor);
        -webkit-appearance: none;
        -moz-appearance: none;
        top: 0.55rem;
        height: 1.4rem;
        outline: none;
        display: inline-block;
        vertical-align: top;
        position: relative;
        margin: 0;
        cursor: pointer;
        border: 0.08rem solid var(--bc, var(--border));
        background: var(--b, var(--background));
        transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
    }

    input[type=checkbox]:after {
        content: "";
        display: block;
        left: 0;
        top: 0;
        position: absolute;
        transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
    }

    input[type=checkbox]:checked {
        --b: var(--active);
        --bc: var(--active);
        --d-o: .3s;
        --d-t: .6s;
        --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
    }

    input[type=checkbox]:disabled {
        cursor: not-allowed;
    }

    input[type=checkbox]:disabled+label {
        cursor: not-allowed;
    }

    input[type=checkbox]:hover:not(:checked):not(:disabled) {
        --bc: var(--border-hover);
    }

    input[type=checkbox]:not(.switch) {
        width: 1.4rem;
        border-radius: 0.4rem;
    }

    input[type=checkbox]:not(.switch):after {
        width: 5px;
        height: 9px;
        border: 2px solid var(--active-inner);
        border-top: 0;
        border-left: 0;
        left: 7px;
        top: 4px;
        transform: rotate(var(--r, 20deg));
        opacity: var(--o, 0);
    }

    input[type=checkbox]:checked {
        --r: 43deg;
        --o: 1;
    }
}

/* --------- Blockquote --------- */

blockquote {
    margin: 0;
    padding: 0 0.5rem;
    border-left: 0.5rem solid var(--oneColor);
    background-color: var(--backgroundColor);
    font-style: italic;
    border-radius: var(--round-radius);
    background-color: var(--backgroundColorHighlight);
}

blockquote p {
    margin: 0;
}

code {
    text-size: 90%;
    padding: 0 0.5 rem;
    background-color: var(--backgroudnColorHighlight);
    font-family: 'Roboto', monospace;
}
